In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('properties.csv')

In [6]:
df.drop(df.columns[0], axis=1, inplace = True)

In [7]:
df.head(3)

            AreaName  Price ($)        lat        lng
0           Richview     999888  43.679882 -79.544266
1     Chedoke Park B     399900  43.250000 -79.904396
2  Ainslie Wood East     479000  43.251690 -79.919357